<div class="col-3 d-none sidebar me-4 sidebar-cart d-xl-block" id="sidebarCart">
            <div class="position-sticky pt-2">
                <h5 class="px-3" style="color: #386641;">Корзина</h5>
                <ul class="flex-column list-group my-2" id="sidebarCartItemsHolder" >




                </ul>

                <div>
                    <button type="button" class="btn btn-success" id="sidebarCart">Перейти к оформлению <span id="sidebarCartTotalCost"></span>₽</button>
                </div>
            </div>
        </div>