<div class="col-3 d-none sidebar me-4 sidebar-cart" id="sidebarCart">
            <div class="position-sticky pt-2">
                <h5 class="px-3" style="color: #386641;">Корзина</h5>
                <ul class="flex-column list-group my-2" id="sidebarCartItemsHolder" >

                    <li class="list-group-item d-flex justify-content-between align-items-center my-1">
                        <div class="sidebar-cart-position-action-buttons">
                            <i class="fa-solid fa-plus"></i>
                            <i class="fa-solid fa-minus"></i>
                            <i class="fa-solid fa-trash"></i>
                        </div>
                        <span class="sidebar-cart-position-name">Императорский лососем десерт с нежным сливочным сыром Императорский лососем десерт с нежным сливочным сыром</span>
                        <span>1430₽ x 5</span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between align-items-center my-1">
                        <div class="sidebar-cart-position-action-buttons">
                            <i class="fa-solid fa-plus"></i>
                            <i class="fa-solid fa-minus"></i>
                            <i class="fa-solid fa-trash"></i>
                        </div>
                        <span class="sidebar-cart-position-name">Императорский лососем десерт с нежным сливочным сыром</span>
                        <span>1430₽</span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between align-items-center my-1">
                        <div class="sidebar-cart-position-action-buttons">
                            <i class="fa-solid fa-plus"></i>
                            <i class="fa-solid fa-minus"></i>
                            <i class="fa-solid fa-trash"></i>
                        </div>
                        <span class="sidebar-cart-position-name">Императорский лососем десерт с нежным сливочным сыром</span>
                        <span>1430₽</span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between align-items-center my-1">
                        <div class="sidebar-cart-position-action-buttons">
                            <i class="fa-solid fa-plus"></i>
                            <i class="fa-solid fa-minus"></i>
                            <i class="fa-solid fa-trash"></i>
                        </div>
                        <span class="sidebar-cart-position-name">Императорский лососем десерт с нежным сливочным сыром</span>
                        <span>1430₽</span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between align-items-center my-1">
                        <div class="sidebar-cart-position-action-buttons">
                            <i class="fa-solid fa-plus"></i>
                            <i class="fa-solid fa-minus"></i>
                            <i class="fa-solid fa-trash"></i>
                        </div>
                        <span class="sidebar-cart-position-name">Онигири</span>
                        <span>1430₽</span>
                    </li>

                </ul>

                <div>
                    <button type="button" class="btn btn-success" id="sidebarCart">Перейти к оформлению <span id="sidebarCartTotalCost"></span>₽</button>
                </div>
            </div>
        </div>