<div class="modal fade" id="registerModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <div class="modal-header modal-header-bg border-0 position-relative">
        <h5 class="modal-title">Регистрация</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="form-container">
        <!-- Форма будет подгружаться через JS (registration.js) -->
        <!-- Обёртка с .form-container нужна для динамической вставки -->
      </div>

      <div class="modal-footer">
        <button data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#loginModal" aria-expanded="false" type="button" class="btn btn-primary">
          <i class="fas fa-sign-in-alt me-2"></i>Войти
        </button>
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Закрыть</button>
        <button type="submit" form="registerForm" class="btn btn-primary">Регистрация</button>
      </div>

    </div>
  </div>
</div>
