{% load static %}

        <div class="menu-card">
                <div data-bs-toggle="modal-product"
        data-product-id="{{ product.id }}"
        data-product-json='{% spaceless %}
         {
            "name": "{{ product.name|escapejs }}",
            "photolink": "{{ product.photolink|escapejs }}",
            "description": "{{ product.description|escapejs }}",
            "price": "{{ product.price }}",
            "grams": "{{ product.grams }}",
            "structure": "{{ product.structure|escapejs }}",
            "kalories": "{{ product.kalories }}",
            "protein": "{{ product.protein }}",
            "fat": "{{ product.fat }}",
            "carbohydrates": "{{ product.carbohydrates }}"
         }{% endspaceless %}'>
                <div class="menu-img">
                    <img src="{% static 'menu/img/' %}{{ product.photolink }}.jpg" alt="">
                </div>
                <div class="menu-body">
                    <h5 class="menu-title">{{ product.name }}</h5>
                        <div class="menu-details">
                            <span class="menu-weight">{{ product.grams }}г</span>
                            <span class="menu-price">{{ product.price }}₽</span>
                        </div>

                </div>
            </div>
            <button class="btn btn-success add-btn" onclick="event.stopPropagation()">Добавить</button>
        </div>