{% load static %}
<header class="p-3 mb-3 border-bottom position-sticky top-0 z-3">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="{% url 'home' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-decoration-none">
                <img src="{% static 'menu/img/Логотип2.png' %}" width="40" height="32" class="me-2" alt="">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a href="{% url 'home' %}" class="px-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Главная">
                        <i class="fa-solid fa-house menu-icon"></i>
                    </a>
                </li>
                <li>
                    <a href="{% url 'test-page' %}" class="px-2 " data-bs-toggle="tooltip" data-bs-placement="bottom" title="Настройки">
                        <i class="fa-solid fa-gear menu-icon"></i>
                    </a>
                </li>
                {% if request.user.is_authenticated %}
                    <li>
                        <a href="{% url 'accounts:profile' %}" class="px-2">
                            <i class="fa-solid fa-user menu-icon"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>

            <div class="text-end">
                {% if request.user.is_authenticated %}
                    <div class="d-flex align-items-center">
                        <a href="{% url 'accounts:logout' %}" class="btn btn-outline-light">
                            <i style="color: #F2E8CF;" class="fa-solid fa-right-from-bracket me-2"></i>Выйти
                        </a>
                    </div>
                {% else %}
                    <a href="#" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#loginModal">
                        <i style="color: #F2E8CF;" class="fa-solid fa-right-to-bracket me-2"></i>Войти
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</header>


