 <li id="menuCartElementTemplate" class="list-group-item d-flex justify-content-between align-items-center my-1">
                        <div class="sidebar-cart-position-action-buttons noselect">
                            <i class="fa-solid fa-plus btn-increase"></i>
                            <i class="fa-solid fa-minus btn-decrease"></i>
                            <i class="fa-solid fa-trash btn-remove"></i>
                        </div>
                        <span class="sidebar-cart-position-name"></span>
                        <span class="sidebar-cart-position-price">1430₽ x 5</span>
 </li>