{% load static %}

<!-- Единое модальное окно -->
<div class="modal fade" id="productModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <img id="modalProductImage" src="" class="img-fluid rounded" alt="">
                        <div style="text-align: left;">
                            <h5 style="text-align: center;" class="py-2 mb-0">Описание</h5>
                            <p id="modalProductDescription"></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4 class="mb-3" id="modalProductPrice"></h4>
                        <p class="text-muted" id="modalProductGrams"></p>

                        <div class="mb-3">
                            <h6>Состав</h6>
                            <p id="modalProductStructure"></p>
                        </div>

                        <div class="mb-3">
                            <h6>КБЖУ</h6>
                            <p id="modalProductNutrition"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-success" id="modalAddToCart">Добавить <span id="modalProductPriceBtn"></span>₽</button>
            </div>
        </div>
    </div>
</div>