{% load static %}

<div class="menu-container">
        <!-- Соевый соус -->
        <div class="menu-card">
            <div data-bs-toggle="modal" data-bs-target="#productModal-1">
                <div class="menu-img">
                    <img src="{% static 'menu/img/Карбонара.jpg' %}" alt="">
                </div>
                <div class="menu-body">
                    <h5 class="menu-title">Соевый соус</h5>
                        <div class="menu-details">
                            <span class="menu-weight">40 г</span>
                            <span class="menu-price">15 ₽</span>
                        </div>

                </div>
            </div>
            <button class="btn btn-success add-btn" onclick="event.stopPropagation()">Добавить</button>
        </div>

        <!-- Имбирь -->
        <div class="menu-card">
            <div class="menu-img">
                <img src="{% static 'menu/img/Кофе.jpg' %}" alt="">
            </div>
            <div class="menu-body">
                <h5 class="menu-title">Имбирь</h5>
                <div class="menu-details">
                    <span class="menu-weight">30 г</span>
                    <span class="menu-price">20 ₽</span>
                </div>
                <button class="btn btn-success add-btn">Добавить</button>
            </div>
        </div>

        <!-- Васаби -->
        <div class="menu-card">
            <div class="menu-img">
                <img src="{% static 'menu/img/Роллы.jpg' %}" alt="">
            </div>
            <div class="menu-body">
                <h5 class="menu-title">Васаби</h5>
                <div class="menu-details">
                    <span class="menu-weight">10 г</span>
                    <span class="menu-price">12 ₽</span>
                </div>
                <button class="btn btn-success add-btn">Добавить</button>
            </div>
        </div>

        <!-- Ролл Тортилья с цыпленком гриль -->
        <div class="menu-card">
            <div class="menu-img">
                <img src="{% static 'menu/img/Карбонара.jpg' %}" alt="">
            </div>
            <div class="menu-body">
                <h5 class="menu-title">Ролл Тортилья с цыпленком гриль</h5>
                <div class="menu-details">
                    <span class="menu-weight">191 г</span>
                    <span class="menu-price">249 ₽</span>
                </div>
                <button class="btn btn-success add-btn">Добавить</button>
            </div>
        </div>

        <!-- Ролл сливочный с огурцом -->
        <div class="menu-card">
            <div class="menu-img">
                <img src="{% static 'menu/img/Карбонара.jpg' %}" alt="">
            </div>
            <div class="menu-body">
                <h5 class="menu-title">Ролл сливочный с огурцом</h5>
                <div class="menu-details">
                    <span class="menu-weight">151 г</span>
                    <span class="menu-price">169 ₽</span>
                </div>
                <button class="btn btn-success add-btn">Добавить</button>
            </div>
        </div>

        <!-- Онигири с лососем и сливочным сыром -->
        <div class="menu-card">
            <div class="menu-img">
                <img src="{% static 'menu/img/Карбонара.jpg' %}" alt="">
            </div>
            <div class="menu-body">
                <h5 class="menu-title">Онигири с лососем и сливочным сыром</h5>
                <div class="menu-details">
                    <span class="menu-weight">110 г</span>
                    <span class="menu-price">249 ₽</span>
                </div>
                <button class="btn btn-success add-btn">Добавить</button>
            </div>
        </div>

        <!-- Онигири с сурими -->
        <div class="menu-card">
            <div class="menu-img">
                <img src="{% static 'menu/img/Карбонара.jpg' %}" alt="">
            </div>
            <div class="menu-body">
                <h5 class="menu-title">Онигири с сурими</h5>
                <div class="menu-details">
                    <span class="menu-weight">122 г</span>
                    <span class="menu-price">119 ₽</span>
                </div>
                <button class="btn btn-success add-btn">Добавить</button>
            </div>
        </div>

        <!-- Онигири с куриным филе в соусе Спайси -->
        <div class="menu-card">
            <div class="menu-img">
                <img src="{% static 'menu/img/Карбонара.jpg' %}" alt="">
            </div>
            <div class="menu-body">
                <h5 class="menu-title">Онигири с куриным филе в соусе Спайси</h5>
                <div class="menu-details">
                    <span class="menu-weight">122 г</span>
                    <span class="menu-price">149 ₽</span>
                </div>
                <button class="btn btn-success add-btn">Добавить</button>
            </div>
        </div>

        <!-- Ролл Сурими со сливочным сыром -->
        <div class="menu-card">
            <div class="menu-img">
                <img src="{% static 'menu/img/Карбонара.jpg' %}" alt="">
            </div>
            <div class="menu-body">
                <h5 class="menu-title">Ролл Сурими со сливочным сыром</h5>
                <div class="menu-details">
                    <span class="menu-weight">226 г</span>
                    <span class="menu-price">259 ₽</span>
                </div>
                <button class="btn btn-success add-btn">Добавить</button>
            </div>
        </div>

        <!-- Суши сендвич с лососем -->
        <div class="menu-card">
            <div class="menu-img">
                <img src="{% static 'menu/img/Карбонара.jpg' %}" alt="">
            </div>
            <div class="menu-body">
                <h5 class="menu-title">Суши сендвич с лососем</h5>
                <div class="menu-details">
                    <span class="menu-weight">174 г</span>
                    <span class="menu-price">269 ₽</span>
                </div>
                <button class="btn btn-success add-btn">Добавить</button>
            </div>
        </div>
    </div>